// Update the colors for this demo
body {
  --color-text: #f5222d;
	--color-bg: #000;
	--color-bg-2: #100C07;
	--color-bg-3: #100C07;
	--color-link: #f5222d;
	--color-link-hover: #f5222d;
	background: radial-gradient(ellipse at 30% 48%, var(--color-bg) 0%, var(--color-bg-2) 45%, var(--color-bg-3) 150%);
}